<div>
  <section>
    <h2 class="build-title">Build Jobs</h2>

    <ul class="jobs-list">
      {{#each noFail}}
        {{>runRow}}
      {{/each}}
    </ul>
  </section>
</div>

{{#if yesFail}}
<div>
  <section>
    <h2 class="build-title">Allowed Failures
      <span class="icon icon--question"></span>
      <div class="tooltip">
        <p class="tooltip-inner">These are jobs you can allow to fail without failing your entire build</p>
      </div>
    </h2>

    <ul class="jobs-list">
      {{#each yesFail}}
        {{>runRow}}
      {{/each}}
    </ul>
  </section>
</div>
{{/if}}


