<div>
  <section>
    <h2 class="build-title">Build Jobs</h2>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>State</th>
          <th>Build</th>
          <th>Node</th>
          <th>Matrix</th>
          <th>Restart</th>
          <th>Cancel</th>
          <th>SSH</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        {{#each build.noFail}}
          {{>runRowBootstrap}}
        {{/each}}
      </tbody>
    </table>

  </section>
</div>

{{#if build.yesFail}}
<div>
  <section>
    <h4 class="build-title">Allowed Failures
      <span data-toogle="tooltip" title="These are jobs you can allow to fail without failing your entire build"  class="glyphicon glyphicon-question-sign"></span>
    </h4>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>State</th>
          <th>Build</th>
          <th>Node</th>
          <th>Matrix</th>
          <th>Restart</th>
          <th>Cancel</th>
          <th>SSH</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        {{#each build.yesFail}}
          {{>runRowBootstrap}}
        {{/each}}
      </tbody>
    </table>
  </section>
</div>
{{/if}}
