<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sivart</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://travis-ci-org.global.ssl.fastly.net/assets/travis-dd949bf9a74f9732154d48c33bd61764.css">
    <style>
      div.build, #mainData { 
        background-color: #eee;
        box-shadow: 1px 1px 1px 1px #ccc;
        font-family: "Source Sans Pro",Helvetica,sans-serif;
        font-weight: 400;
        font-style: normal;
        width: 80%;
      }
      .status_fail {
        background-color: red;
      }
      .status_error {
        background-color: orange;
      }
      .command_time {
        float: right;
      }
      .command {
        cursor: pointer;
      }
      h1 {
        margin-left: 20px;
      }
    </style>
</head>
<body>
<h1>{{repoName}} {{type}}</h1>

<div style="margin-left: 50px; margin-right: 50px; width: 70%">
  {{{body}}}
</div>

</body>
</html>
