{{#if err}}
<div style="color:red">
{{err}}
</div>
{{else}}
<div>
SWEET!  Repo {{repoName}} is ready to rumble - push a commit or create a pull request and come back <a href="http://xci.pub/{{repoName}}">HERE</a> to see the magic!
</div>
{{/if}}
