<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

  {{>topdata}}
  </div>

<div id="mainData">
{{mainLog}}
</div>
<script src="/process_logs.js"></script>
